[sdk]
# This option specifies the python packages where-in to search for workflows and tasks workflow packages. These workflows and tasks are then serialized during the `make serialize` commands
workflow_packages=myapp.workflows

[auth]
# This default service account is added to workflow executions and must at have read and write privileges
# to the blobstore (e.g. s3) used to write task execution outputs.
kubernetes-service-account=demo
# You can set this prefix to specify where task output schema and blobs should be written to.
raw_output_data_prefix=s3://my-s3-bucket/cookbook
